@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
	color: black;
}
ul {
    padding: 0;
    list-style-type: none;
}
.innerTopLeft a:hover {
    text-decoration: none;
}
.innerTopRight a:hover {
	text-decoration: none;
}
.innerTopRight span:hover {
	text-decoration: none;
}
body {
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    margin: 0;
}
span {
	list-style-type: none;
}
#topbar {
    background: #f2f2f2;
    font-size: 14px;
    padding: 4px 0;
    height: 30px;
}
.container-fluid {
    padding: 0 40px;
    margin-right: auto;
    margin-left: auto; 
    display: flex;
}
.innerTopRight {
	float: right;
}
.innerTopRight > ul {
	float: right;
	
}
.innerTopRight li {
    margin: 0 0 0 25px;
    float: right;
}
.ionTop {
	width: 20px;
	height: 20px;
	float: left;
}
.title-info-top {
	margin: 2px 0 0 5px;
	font-size: 13px;
	margin-right: 20px;
}
.icon-cart .count {
    animation-name: scroll-in;
}
.title-info-top span {
    color: #f40000;
}
nav {
	position: relative;
    z-index: 999;
	min-height: 79px;
}
.main-header {
	min-height: 79px;
	display: flex;
	padding: 5px 40px;
	align-items: center;
}
.header-mid {
    display: flex;
    align-items: center;
}
.logo {
	margin: 3px 3px;
}
.logo img {
    min-height: 20px;
    max-height: 90px;
}
.menu-desktop {
    position: relative;
    display: flex;
    justify-content: center;
}
.menu {
	
}

/*nav .logo {
	display: flex;
	position: relative;
}
nav .menu {
	text-align: center;
	padding-left: 120px;
}*/
.sub_menu {
	position: absolute;
	background-color: white;
	width: 200px;
	top: 35px;
	left: 13px;
	box-shadow: 0px 0px 5px gray;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s;
}
.sub_menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.sub_menu ul li{
	
}
.sub_menu > ul  > li > a{
	display: block;
	text-decoration: none;
	font-weight: 700;
    font-size: 14px;
	padding: 5px 15px;
	border-bottom: 1px solid #ececec;
	text-align: left;

}
.sub_menu > ul  > li > a:hover {
	transition: 0.5s;
	color: white;
	background-color: #007bff;
	padding-left: 20px;
}
.menu > ul > li:hover .sub_menu {
	opacity: 1;
	visibility: visible;
	transform: translateY(18px);
	box-shadow: 0px 0px 5px gray;
}
.menu > ul{
	display: flex;
	height: 80px;
	list-style-type: none;
	text-transform: uppercase;
	align-items: center;
	margin-bottom: 0;

}
.menu  > ul > li{
	position: relative;
}
.menu > ul > li > a:hover {
	transition: 0.5s;
	color: white;
	background-color: #007bff;
	text-decoration: none;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 4px;
    margin-right: 4px;
}
.menu > ul > li > a{
	text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    margin-left: 14px;
    margin-right: 14px;
    border-radius: 50px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
   /* border: 1px solid #ccc;*/
}
.searchFormHeader {
    position: relative;
    margin: 0 0 0;
}
.searchInput {
    border-radius: 22px;
    background-color: #fefefe;
    border: solid 1px #a7a7a7;
    padding: 8px 0 8px 15px;
    width: 100%;
}
.btnSearch {
    font-size: 0;
    border: none;
    background: url(../images/search.svg);
    width: 22px;
    height: 22px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.row {
	margin: auto;
}
main .ps-content {
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
main .ps-container {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}
main .cartPage{
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	max-width: 100%;
	width: 650px;
	padding: 20px 20px;
}
main .product {
	padding-top: 15px;
	display: flex;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
main .product img {
	width: 150px;
}
main .product input {
	width: 30px;
	text-align: center;
}

main .product .delete {
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    line-height: 1rem;
}
main .product .btn-delete {
	font-size: 1.7em;
	border: 5px solid #f1f1f1;
    background: #ff0000;
    border-radius: 30px;
}
main .info {
	padding-left: 50px;
	width: 100%;
}
main .price{
	display: flex;
}

main .delete{
	text-align: right;
}
main .product_name h1 {
	text-transform: uppercase;
	display: flex;
	justify-content: left;
	padding-bottom: 10px;
	font-size: 20px;
	color: black;
	font-weight: 500;
}
main .ps-post_header h1 {
	text-transform: uppercase;
	display: flex;
	justify-content: left;
	padding-bottom: 10px;
	font-size: 25px;
	color: #5b5b5b;
	border-bottom: 1px solid #ccc;
}
main .total-price-product {
	margin-left: 5px;
}
main .total-price {
	float: left;
    line-height: 50px;
    font-size: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
section {
    margin: auto;
}
.ps-subscribe {
    padding: 35px 0;
    background-color: white;
    border-top: 1px solid #d0d0d0;
}
.ps-subscribe .row {
    justify-content: center;
}
h4 {
    font-size: 16px;
}
.iconFooter {
    float: left;
    width: 25px;
    height: 25px;
    background: #e52c25;
    text-align: center;
    color: #fff;
    line-height: 25px;
    border-radius: 100%;
}
.titleHotline a {
    font-size: 27px;
    padding: 0 0 0 15px;
}
.moreInfoFooter {
    float: left;
    width: 100%;
    font-size: 11px;
    margin: 5px 0 0;
}
.newsletter-form {
    position: relative;
}
.newsletter-form input[type=email] {
    background-color: #fff;
    height: 36px;
    font-size: 15px;
    color: #333;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #d0d0d0;
}
.input-lg {
    padding: 10px 16px;
    line-height: 1.3333333;
}
.btn-newsletter {
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    height: 36px;
}
ul.navbar-social {
    display: flex;
    align-items: center;
}
.navbar-social li:nth-child(1) {
    margin-left: 0;
}
.navbar-social li {
    display: block;
    order: 1;
}
.navbar-social li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.navbar-social li.social-shopee {
    order: 2;
}
.navbar-social li.social-laz {
    padding-left: 15px;
}
.navbar-social .social-shopee img {
    width: 35px;
    margin-left: 10px;
    margin-top: -5px;
}
.navbar-social li img {
    margin-right: 10px;
    width: 35px;
}
.navbar-social li .fa {
    margin: 0 10px 0 0;
    font-size: 35px;
    padding: 5px;
}
footer {
	margin: auto;
	height: 500px;
	background-color: black;
	color: white;
}
footer .footer_menu{
	display: flex;
	text-align: center;
	padding-top: 100px;
	padding-left: 100px;
}
footer span{
	padding-bottom: 50px;
}
footer ul{
	list-style-type: none;

}
footer ul li{
	margin-bottom: 10px;
    color: #7d8997;
}
footer ul li a{
	text-decoration: none;
    color: #7d8997;
}
footer ul li a:hover {
	color: #007bff;
	text-decoration: none;
}
.footer_menu .footer_menu_1 {
    margin-left: 100px;
}
.footer_menu .footer_menu_2 {
	margin-left: 100px;
}
.footer_menu .footer_menu_3 {
	margin-left: 100px;
}
/*------------------- check out --------------------*/

.checkout_content {
	width: 100%;
	margin: auto;
	display: flex;
}
.checkout_main {
	background-color: #FDF5E6;
	width: 110%;
	padding-left: 15%;
	padding-top: 3%;
}
.checkout_sidebar {
	background-color: #F8F8FF;
	width: 90%;
	padding-left: 4%;
	padding-right: 15%;
	padding-top: 3%;
}
.main_header {
	margin-bottom: 200px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
}
.product td {
	padding-top: 15px;
}
.product_image {
	width: 20%;
    height: 80px;
/*    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;*/
    position: relative;
    text-align: center;
}
.product_quantity {
	font-size: 0.85714em;
    font-weight: 500;
    white-space: nowrap;
    padding: 0.15em 0.65em;
    border-radius: 2em;
    background-color: rgba(153, 153, 153, 0.9);
    color: #fff;
    position: absolute;
    right: -10px;
    top: 5px;
    z-index: 2;
}
.product_description {
	padding-left: 30px;
	width: 50%;
}
.product_price {
	text-align: right;
}
.order_info {
	padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}
.order_price {
    padding-top: 15px;
    padding-bottom: 15px;
}
.order_price_top {
	padding-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
}
.order_price_subtotal {
	justify-content: space-between;
}
.order_price_shipping {
	justify-content: space-between;
}
.order_price_total {
	justify-content: space-between;
}
.order_price_bottom {
   padding-top: 15px;
}
.section_title {
	padding-top: 15px;
    padding-bottom: 15px;
}
.step .form-control {
	width: 86%;
}
.step_footer {
	width: 86%;
	justify-content: space-between;
	margin-top: 20px;
}