@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
}
@font-face{
	font-family: "Roboto";
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    color: black;
}
ul {
    padding: 0;
    list-style-type: none;
}
.innerTopLeft a:hover {
    text-decoration: none;
}
.innerTopRight a:hover {
    text-decoration: none;
}
.innerTopRight span:hover {
    text-decoration: none;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    margin: 0;
}
span {
    list-style-type: none;
}
#topbar {
    background: #f2f2f2;
    font-size: 14px;
    padding: 4px 0;
    height: 30px;
}
.container-fluid {
    padding: 0 40px;
    margin-right: auto;
    margin-left: auto; 
    display: flex;
}
.innerTopRight {
    float: right;
}
.innerTopRight > ul {
    float: right;
    
}
.innerTopRight li {
    margin: 0 0 0 25px;
    float: right;
}
.ionTop {
    width: 20px;
    height: 20px;
    float: left;
}
.title-info-top {
    margin: 2px 0 0 5px;
    font-size: 13px;
    margin-right: 20px;
}
.icon-cart .count {
    animation-name: scroll-in;
}
.title-info-top span {
    color: #f40000;
}

nav {
    position: relative;
    z-index: 999;
    min-height: 79px;
}
.main-header {
    min-height: 79px;
    display: flex;
    padding: 5px 40px;
    align-items: center;
}
.header-mid {
    display: flex;
    align-items: center;
}
.logo {
    margin: 3px 3px;
}
.logo img {
    min-height: 20px;
    max-height: 90px;
}
.menu-desktop {
    position: relative;
    display: flex;
    justify-content: center;
}
.menu {
    
}

/*nav .logo {
    display: flex;
    position: relative;
}
nav .menu {
    text-align: center;
    padding-left: 120px;
}*/
.sub_menu {
    position: absolute;
    background-color: white;
    width: 200px;
    top: 35px;
    left: 13px;
    box-shadow: 0px 0px 5px gray;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.sub_menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sub_menu ul li{
    
}
.sub_menu > ul  > li > a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 15px;
    border-bottom: 1px solid #ececec;
    text-align: left;

}
.sub_menu > ul  > li > a:hover {
    transition: 0.5s;
    color: white;
    background-color: #007bff;
    padding-left: 20px;
}
.menu > ul > li:hover .sub_menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(18px);
    box-shadow: 0px 0px 5px gray;
}
.menu > ul{
    display: flex;
    height: 80px;
    list-style-type: none;
    text-transform: uppercase;
    align-items: center;
    margin-bottom: 0;

}
.menu  > ul > li{
    position: relative;
}
.menu > ul > li > a:hover {
    transition: 0.5s;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 4px;
    margin-right: 4px;
}
.menu > ul > li > a{
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    margin-left: 14px;
    margin-right: 14px;
    border-radius: 50px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
   /* border: 1px solid #ccc;*/
}
.searchFormHeader {
    position: relative;
    margin: 0 0 0;
}
.searchInput {
    border-radius: 22px;
    background-color: #fefefe;
    border: solid 1px #a7a7a7;
    padding: 8px 0 8px 15px;
    width: 100%;
}
.btnSearch {
    font-size: 0;
    border: none;
    background: url(../images/search.svg);
    width: 22px;
    height: 22px;
    position: absolute;
    right: 15px;
    top: 8px;
}

/*--------search--------*/

section.search {
    padding: 15px 0 15px 0;
    background: #f1f1f1;
}
section.search .form-group {
    margin: 0;
}
.label-search {
    font-style: italic;
    text-transform: capitalize;
    height: 23px;
    display: block;
}
label {
    font-size: 16px;
}
.search .form-group .select-search{
	font-size: 16px;
	width: 75%;
	height: 40px;

}
button.btn-search {
    height: 40px;
    border-radius: 0;
    background-color: #007bff;
    border-color: #007bff;
    color: #000;
    margin-top: 31px;
    text-transform: capitalize;
}
button.btn-search:hover {
	background-color: black;
	color: #007bff;
}
.btn-search-lock {
  /*  text-align: right;*/
}
ul li a {
 	text-decoration: none;
 }

/*----------- main start ----------------*/
main .ps-blog-grid {
	padding-top: 30px;
	padding-bottom: 30px;
}
 .breadcrumbs ul{
	height: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-weight: 700;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 13px;
}
a:hover, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
    text-decoration: none;
}
.ps-shoe .ps-shoe_name:hover {
    color: #007bff;
    transition: 0.5s;
}
.ps-shoe {
	margin-bottom: 30px;
	border: 0;
	transition: 0.5s;
}
.ps-shoe:hover {
	border: 0.5px solid #CDC9C9;
	transition: 0.5s;
}
.ps-shoe .ps-shoe_thumbnail {
    position: relative;
    z-index: 100;
    padding: 0;
    text-align:center
}
.ps-shoe_thumbnail .product-label-group {
    left: 0;
}
.ps-shoe .ps-shoe_thumbnail img {
    z-index: 1;
    object-fit: contain;
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.ps-shoe .ps-shoe_overlay {
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
 }
 .ps-shoe .ps-shoe_content {
    display: block;
    padding: 10px;
    z-index: 10;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    padding-left: 10px;
    padding-right: 10px;
}
.ps-shoe .ps-shoe_detail {
    margin-bottom: 0;
    position: relative;
    min-height: 60px;
    background-color: #fff;
}
.ps-shoe .ps-shoe_name {
    font-size: 16px;
    font-weight: 700;
    color: #5b5b5b;
    line-height: 1.4em;
    height: 44px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    margin-bottom: 10px;
}
.ps-shoe .ps-shoe_price {
    display: block;
    font-size: 15px;
    color: #5b5b5b;
    height: 45px;
    font-weight: bold;
}
.ps-pagination {
    text-align: center;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
 }
.ps-pagination .pagination a:before {
    width: 50px;
    height: 50px;
}
.ps-pagination .pagination a:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.ps-widget-sidebar {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    margin-top: 25px;
}
.ps-widget-sidebar .ps-widget_header {
    margin-bottom: 25px;
}
.ps-post-sidebar {
    margin-bottom: 15px;
    display: flex;
}
.ps-post-sidebar .ps-post_thumbnail a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ps-post-sidebar .ps-post_title {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3em;
    color: #000;
    text-transform: capitalize;
}
.ps-post-sidebar .ps-post_title:hover {
	color: #007bff;
    transition: 0.5s;
}
.ps-post-sidebar span {
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    color: #5b5b5b;
}
.ps-post-sidebar .ps-post_content, .ps-shoe-sidebar .ps-shoe_content {
	padding-left: 15px;
	width: -webkit-calc(100% - 70px);
	/*float: right;*/
}
.ps-post-sidebar .ps-post_thumbnail, .ps-shoe-sidebar .ps-shoe_thumbnail {
    position: relative;
    width: 70px;
    float: left;
}
.ps-shoe-sidebar {
	display: flex;
	margin-bottom: 15px;
}
.ps-shoe-sidebar .ps-shoe_title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #626262;
    text-transform: uppercase;
}
.ps-shoe-sidebar .ps-shoe_title:hover {
	color: #007bff;
    transition: 0.5s;
}
.ps-shoe-sidebar .ps-shoe_content p {
    margin-bottom: 0;
    color: #e81010;
    font-size: 14px;
    font-weight: 700;
}
.ps-widget-sidebar .ps-widget_header h3 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #626262;
    text-transform: uppercase;
}
.ps-widget-sidebar .ps-widget_content ul {
	display: inline-block;
	/*width: calc(100%/2);*/
}
.ps-widget-sidebar .ps-widget_content ul li {
	display: inline-block;
}
.ps-widget-sidebar .ps-widget_content ul li a {
	display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 20px;
    color: #626262;
    font-size: 12px;
    letter-spacing: .2px;
    line-height: 15px;
    background-color: #e5e5e5;
}
.ps-widget-sidebar .ps-widget_content ul li a:hover {
	background-color: #007bff;
    transition: 0.5s;
    color: white;
}

/*------ subrice-------*/

.ps-subscribe {
    margin: auto;
    width: 100%;
    padding: 35px 0;
    background-color: white;
    border-top: 1px solid #d0d0d0;
}
.ps-subscribe .row {
    justify-content: center;
}
h4 {
    font-size: 16px;
}
.iconFooter {
    float: left;
    width: 25px;
    height: 25px;
    background: #e52c25;
    text-align: center;
    color: #fff;
    line-height: 25px;
    border-radius: 100%;
}
.titleHotline a {
    font-size: 27px;
    padding: 0 0 0 15px;
}
.moreInfoFooter {
    float: left;
    width: 100%;
    font-size: 11px;
    margin: 5px 0 0;
}
.newsletter-form {
    position: relative;
}
.newsletter-form input[type=email] {
    background-color: #fff;
    height: 36px;
    font-size: 15px;
    color: #333;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #d0d0d0;
}
.input-lg {
    padding: 10px 16px;
    line-height: 1.3333333;
}
.btn-newsletter {
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    height: 36px;
}
ul.navbar-social {
    display: flex;
    align-items: center;
}
.navbar-social li:nth-child(1) {
    margin-left: 0;
}
.navbar-social li {
    display: block;
    order: 1;
}
.navbar-social li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.navbar-social li.social-shopee {
    order: 2;
}
.navbar-social li.social-laz {
    padding-left: 15px;
}
.navbar-social .social-shopee img {
    width: 35px;
    margin-left: 10px;
    margin-top: -5px;
}
.navbar-social li img {
    margin-right: 10px;
    width: 35px;
}
.navbar-social li .fa {
    margin: 0 10px 0 0;
    font-size: 35px;
    padding: 5px;
}

footer {
    position: relative;
    display: block;
    margin: auto;
    height: 500px;
    background-color: black;
    color: #fff;
}
footer .footer_menu{
    display: flex;
    text-align: center;
    padding-top: 100px;
    justify-content: center;
}
footer span{
    padding-bottom: 50px;
}
footer ul{
    list-style-type: none;

}
footer ul li{
    margin-bottom: 10px;
    color: #7d8997;

}
footer ul li a{
    text-decoration: none;
    color: #7d8997;
}
footer ul li a:hover {
    color: #007bff;
    text-decoration: none;
}
.footer_menu .footer_menu_1 {
}
.footer_menu .footer_menu_2 {
    padding-right: 100px;
    padding-left: 100px;
}
.footer_menu .footer_menu_3 {
    
}
/*-------------------------------------------------*/

